* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

.logo{
  margin: 40px 0 16px 0;
}
h1{
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 600;
}
h2{
  font-size: 20px;
  font-weight: 600;
}
p{
  color: #52525A;
  font-size: 16px;
  font-weight: 400;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  width: 28%;
}

.cardcontainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 65%;
  background-color: #F3F4F6;
  justify-content: center;
  margin: 40px;
  padding: 24px;
  border-radius: 12px;
}

.card {
  display: flex;
  margin: 12px;
  padding: 32px;
  border-radius: 12px;
  background-color: #fff;
}
.card p{
  margin-bottom: 24px;
  margin-top: 12px;
}

.card:nth-child(1) {
  grid-column: 1 / 3;
    flex-direction: column;
  margin-top: 24px;
}
.card:nth-child(2) {
  grid-column: 3 / 5;
  flex-direction: column-reverse;
  margin-top: 24px;
}
.card:nth-child(3) {
  grid-column: 5 / 7;
  flex-direction: column;
  margin-top: 24px;
}

.card:nth-child(4) {
  grid-column: 1 / 4;
  align-items: center;
  
}

.card:nth-child(5) {
  grid-column: 4 / 7;
  align-items: center;
  
}

.text{
  margin-right: 16px;
}





@media  (max-width:1280px){
  
.card:nth-child(1) {
  grid-column: 1 / 4;
    flex-direction: column;
  margin-top: 24px;
}
.card:nth-child(2) {
  grid-column: 4 / 7;
  flex-direction: column-reverse;
  margin-top: 24px;
}
.card:nth-child(3) {
  grid-column: 1 / 7;
  flex-direction: column;
  margin-top: 24px;
  align-items: center;
  flex-direction: row;
}

.card:nth-child(4) {
  grid-column: 1 / 7;
  align-items: center;
  
}

.card:nth-child(5) {
  grid-column: 1 / 7;
  align-items: center;
  
}
}



@media  (max-width:1023px){

.cardcontainer{
  width: 100%;
}
.header {
  width: 100%;
}
  .card:nth-child(1) {
   grid-column: 1 / 7;
  flex-direction: column-reverse;
  
  align-items: center;
}
.card:nth-child(2) {
   grid-column: 1 / 7;
  
  
  align-items: center;
}
.card:nth-child(3) {
  grid-column: 1 / 7;
  flex-direction: column-reverse;
  
  align-items: center;
}

.card:nth-child(4) {
  grid-column: 1 / 7;
  align-items: center;
  flex-direction: column-reverse;
}

.card:nth-child(5) {
  grid-column: 1 / 7;
  align-items: center;
  flex-direction: column-reverse;
}
}